SUBSYSTEM=="net", ACTION=="add", KERNEL=="usb0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="bmc_network_init.service"
SUBSYSTEM=="net", ACTION=="change", KERNEL=="usb0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="bmc_network_init.service"
SUBSYSTEM=="net", ACTION=="change", KERNEL=="bmc0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="bmc_network_init.service"
